/* fonts */
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* general */
* {
    box-sizing: border-box;
}
html {
    font-family: "raleway", Arial, sans-serif;
    font-weight: normal;
}
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
.left {
    float: left;
}
.right {
    float: right;
}
/* header */
header {
    background-color: black;
    color: white;
}
nav {
    height: 
}
div.logo {
    float:left;
    padding: 10px 0;
}
ul {
    float: right;
    margin: 0;
}
li {
    display: inline-block;
    padding: 10px 0 10px 30px;
}
nav:after {
    clear: both;
    content: " ";
    display: block;
}
/* main */

/* slaider */
section.slaider {
    height: 500px;
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(65%, rgba(251,251,251,1)), color-stop(100%, rgba(203,202,207,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
}


